<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        a{
          text-decoration: none !important;	
        }

        body{
            width: 100%;
            font-family: "Poppins", sans-serif;
        }

        .wrapper{
            margin: 0 auto;
            max-width: 500px;
            width: 100%;
            background-color: #F2F3F8;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
            padding: 0 20px 0 20px;
        }

        .logo{
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo img{
            width: 50px;
            margin: 0 auto;
        }

        .main-content{
            background-color: #ffffff;
            width: 100%;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
        }

        .main-content .bg{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: #FF914D;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
        }

        .main-content .bg img{
            width: 150px;
            margin: 0 auto;
        }

        .main-content .content{
            padding: 40px;
            text-align: center;
        }

        .main-content .content h2{
            font-size: 24px;
            font-weight: 600;
            color: #333;
            text-align: center;
            margin-bottom: 10px;
        }

        .main-content .content .welcome-text{
            font-size: 16px;
            font-weight: 400;
            color: #333;
            text-align: center;
            margin-bottom: 10px;
        }

        .main-content .content .welcome-text a{
            color: #FF5233 !important;
            text-decoration: underline;
            font-weight: 600;
        }

        .main-content .content .text{
            font-size: 16px;
            font-weight: 400;
            color: #333;
            text-align: center;
            margin-bottom: 40px;
        }

        .main-content .content .verify-button{
            width: 100%;
            padding: 10px 20px;
            font-size: 16px;
            background: #FF5233;
            color: #ffffff !important;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .wrapper .footer{
            width: 100%;
            padding: 20px;
            text-align: center;
        }

        .wrapper .footer .social-media-logo{
            margin: 0 auto;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            width: fit-content;
            padding: 10px;
            border-radius: 999px;
            background-color: #ffffff;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
            overflow: hidden !important;
        }

        .wrapper .footer .social-media-logo img{
            width: 30px;
            margin: 0 auto;
        }

        .wrapper .footer p{
            margin-top: 20px;
            font-size: 14px;
            font-weight: 400;
            color: #333;
        }

        @media screen and (max-width: 768px){
            .wrapper .footer .social-media-logo img{
                width: 20px;
            }

            .wrapper .footer .social-media-logo{
                width: 40px;
                height: 40px;
            }
        }

        @media screen and (max-width: 610px){
            body{
                padding: 0;
                background-image: none;
            }
            
            .wrapper{
                width: 100%;
            }

            .main-content .content h2{
                font-size: 20px;
            }

            .main-content .content .welcome-text,
            .main-content .content .text{
                font-size: 14px;
            }

            .wrapper .footer p{
                font-size: 12px;
            }
        }
    </style>
</head>
<body>
    <div class="wrapper" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;">
        <div class="logo" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;">
            <img loading="eager" src="https://patilmanas04.github.io/JCC-Assets/assets/email_template/logo.jpg" alt="johari career consultancy" fetchPriority="high">
        </div>
        <div class="main-content">
            <div class="bg" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;">
                <img loading="eager" src="https://patilmanas04.github.io/JCC-Assets/assets/email_template/email_icon.png" alt="email verification">
            </div>
            <div class="content">
                <h2>Verify your email address</h2>
                <p class="welcome-text">Welcome to <a href="https://joharicareerconsultancy.com" target="_blank">JCC</a></p>
                <p class="text">Please click on the button below to verify your email address and activate your account</p>
                <a href="<%= url %>" target="_blank" class="verify-button">Verify Email</a>
            </div>
        </div>
        <div class="footer">
            <a href="https://www.instagram.com/johari_counsultancy?igsh=Yzl5NnM0NWZ0bGhy" target="_blank" class="social-media-logo" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;"><img loading="eager" src="https://patilmanas04.github.io/JCC-Assets/assets/email_template/instagram_icon.jpg" alt="instagram logo"></a>
            <p>Copyright © 2024 Johari Career Consultancy. All Rights Reserved.</p>
        </div>
    </div>
</body>
</html>